<div>
    <div>
        <Button Type="ButtonType.Primary" Size="ButtonSize.Large"
                OnClick="@(async()=>await OnAddAsync(true))">
            新增
        </Button>
    </div>
    <Table @ref="table"
           TItem="RoleViewAdapterModel"
           DataSource="@roleViewAdapterModels"
           OnChange=OnTableChange
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-Total=_total>
        <Column TData="string" DataIndex="@nameof(RoleViewAdapterModel.Name)" Title="名稱" />
        <ActionColumn Fixed="ColumnFixPlacement.Right" Title="操作">
            <Space>
                <SpaceItem>
                    <button class="btn-edit" title="修改"
                            @onclick="@(async () => await OnEditAsync(@context))">
                        <span class="icon-edit">✏️</span> 修改
                    </button>
                </SpaceItem>
                <SpaceItem>
                    <button class="btn-edit" title="刪除"
                            @onclick="@(async () => await OnDeleteAsync(@context))">
                        <span class="icon-edit">✏️</span> 刪除
                    </button>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</div>

<Modal Title="@modalTitle"
       Class="role-view-modal"
       @bind-Visible="@modalVisible"
       OnOk="OnModalOKHandleAsync"
       OnCancel="OnModalCancelHandleAsync">
    <div class="">
        <EditForm Model="@CurrentRecord" Context="editContext">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputWatcher EditContextActionChanged="OnEditContestChanged" />

            <AntDesign.Form TModel="RoleViewAdapterModel" Model="@CurrentRecord" Layout="FormLayout.Vertical" Context="formContext">

                <FormItem Label="名稱" Required>
                    <Input @bind-Value="CurrentRecord.Name" Placeholder="請輸入名稱" />
                    <ValidationMessage For="() => CurrentRecord.Name" />
                </FormItem>
            </AntDesign.Form>
        </EditForm>
    </div>
</Modal>