@if (Item.HasChildren)
{
    <SubMenu Key="@GetMenuKey()" IsOpen="@_isExpanded" OnTitleClick="ToggleExpand">
        <TitleTemplate>
            <span class="submenu-title-content">
                <MaterialIcon Theme="@MaterialIcon.Themes.Outlined" Kind="@GetMaterialIconKind()" />
                <span class="submenu-title-text">@Item.Name</span>
            </span>
        </TitleTemplate>
        <ChildContent>
            @for (var index = 0; index < Item.SubMenu.Count; index++)
            {
                <SidebarMenuNode Item="Item.SubMenu[index]"
                                 Level="@(Level + 1)"
                                 ItemKey="@($"{ItemKey}-{index}")"
                                 ActiveMenuPath="@ActiveMenuPath"
                                 RouteVersion="@RouteVersion" />
            }
        </ChildContent>
    </SubMenu>
}
else if (!string.IsNullOrWhiteSpace(Item.Url))
{
    <MenuItem Key="@GetMenuKey()" RouterLink="@Item.Url" RouterMatch="@GetMatchMode()">
        <span class="menu-item-content">
            <MaterialIcon Theme="@MaterialIcon.Themes.Outlined" Kind="@GetMaterialIconKind()" />
            <span class="menu-item-text">@Item.Name</span>
        </span>
    </MenuItem>
}
